@font-face {
 font-family: "Main";
 src: url("../fonts/Main.ttf");
}
@font-face {
 font-family: "Content";
 src: url("../fonts/Content.otf");
}
body{
  background-image: url('../images/main-pattern-bg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  position: fixed;
  top: 0;
  width: 80%;
  height: 4vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}

nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main{
  width: 80%;
}
header{
  font-family: "Main";
  width: 80%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.9);
  color: white;
}
h1{
  text-align: center;
}
.about-game{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(242, 238, 238, 0.7);
}
.about-game-header{
  font-family: "Main";
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.about-game-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
  width: 100%
}
.game-genre, .used-technologies,
.resolution, .game-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}
.resolution-header{
  font-family: "Main";
}
.resolution-txt{
  font-family: "Content"
}
.game-genre-header{
  font-family: "Main";
}
.game-genre-txt{
  font-family: "Content"
}
/* .used-technologies, .resolution {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.used-technologies-header{
  font-family: "Main";
}
.used-technologies-txt{
  font-family: "Content"
}
/* .game-controls{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.game-controls-header{
  font-family: "Main";
}
.game-controls-txt{
  font-family: "Content"
}
.screen-shots{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);;
  display: flex;
  flex-direction: column;
}
.screen-shots-header{
  font-family: "Main";
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.screen-shots-list{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.screen-shots-list li{
  margin: 0px 10px 0px 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition : box-shadow 1s;
  width: 30%;
}
.screen-shots-list li img{
  width: 100%;
}
.screen-shots-list li:hover{
  box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.86);
}
.game-link{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(242, 238, 238, 0.7);
}
.game-link-header{
  font-family: "Main";
}
.game-link-button{
  font-family: "Content";
}
.developers{
  width: 100%;
  height: 100vh;
  display:  flex;
  flex-direction: column;
}
.developers-header-flex-container{
  font-family: "Main";
  flex-grow: 1;
  background: rgba(0,0,0,0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.developers-header{
  font-family: "Main";
  display: flex;
  align-items: center;
  justify-content: center;
}
.developers-txt{
  font-family: "Content";
}

.developers-flex-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}
.marina-developer{
  width: 50%;
  height: 100%;
  background:rgba(255, 255, 255, 0.9);
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marina-developer-header{
  font-family: "Main";
}
.marina-developer-solutions{
  font-family: "Content";
}
.ivan-developer{
  width: 50%;
  height: 100%;
  background:rgba(255, 255, 255, 0.9);
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ivan-developer-header{
  font-family: "Main";
}
.ivan-developer-solutions{
  font-family: "Content";
}
.footer{
  width: 80%;
  height: 10vh;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img{
  width: 10vh;
}
.marina-developer-solutions li:first-child{
  border-bottom: 1px solid black;
  text-align: center;

}
.ivan-developer-solutions li:first-child{
  border-bottom: 1px solid black;
  text-align: center;

}
